![ping](../screenshots/pingclsrv.png)



![nslookup](../screenshots/nslookuplabdc01.png)



![cl01dom](../screenshots/Cl01-Domain.png)



![srv01dom](../screenshots/SRV01-Domaın.png)



![adminlogin](../screenshots/CL01-LABUser.png)



![reject](../screenshots/DisabledAccount.png)



![usercreation](../screenshots/createusers.png)



![gpo](../screenshots/GPOWorkstations.png)
![gpo2](../screenshots/TestGPO.png)
