![ping](../screenshots/pingclsrv.png)



![nslookup](../screenshots/nslookuplabdc01.png)



![cl01dom](../screenshots/Cl01-Domain.png)



![srv01dom](../screenshots/SRV01-Domaın.png)



![adminlogin](../screenshots/CL01-LABUser.png)



![reject](../screenshots/DisabledAccount.png)



![usercreation](../screenshots/createusers.png)



![gpo](../screenshots/GPOWorkstations.png)
![gpo2](../screenshots/TestGPO.png)
Yukarıdaki iki resimdede görüleceği gibi Test grubundaki Userlara uygulanan GPO ve  Workstations Policylerinin ikiside şu anda aktif durumda. İlk görselde, CL01 makinesine GPO_Workstations politikasının uygulandığı, makinenin Domain Computers ve CL01$ güvenlik gruplarına dahil olduğu görülmektedir. İkinci görselde ise, Test 1 kullanıcısının oturum açtığı, son policy güncelleme zamanının 8/19/2026 olduğu ve kullanıcıya özel olarak oluşturulan TestGrubuGPO politikasını göstermekte.