![ping](../screenshots/pingclsrv.png)

<br>

![nslookup](../screenshots/nslookuplabdc01.png)

<br>

![cl01dom](../screenshots/Cl01-Domain.png)

<br>

![srv01dom](../screenshots/SRV01-Domaın.png)

<br>

![adminlogin](../screenshots/CL01-LABUser.png)

<br>

![reject](../screenshots/DisabledAccount.png)

<b4>

![usercreation](../screenshots/createusers.png)